<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
	<display-name>Foodie</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.Foodie.Registration.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Fooditems</display-name>
		<servlet-name>Fooditems</servlet-name>
		<servlet-class>com.Foodie.Registration.Fooditems</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProfileServlet</display-name>
		<servlet-name>ProfileServlet</servlet-name>
		<servlet-class>com.Foodie.Registration.ProfileServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ProfileServlet1</display-name>
		<servlet-name>ProfileServlet1</servlet-name>
		<servlet-class>com.Foodie.Registration.ProfileServlet1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>cart</display-name>
		<servlet-name>cart</servlet-name>
		<servlet-class>com.Foodie.Registration.cart</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddToCartServlet</display-name>
		<servlet-name>AddToCartServlet</servlet-name>
		<servlet-class>com.Foodie.Registration.AddToCartServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddToCartServlets</display-name>
		<servlet-name>AddToCartServlets</servlet-name>
		<servlet-class>com.Foodie.Registration.AddToCartServlets</servlet-class>
	</servlet>




	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Fooditems</servlet-name>
		<url-pattern>/Fooditems</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/ProfileServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileServlet1</servlet-name>
		<url-pattern>/ProfileServlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cart</servlet-name>
		<url-pattern>/cart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddToCartServlet</servlet-name>
		<url-pattern>/AddToCartServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddToCartServlets</servlet-name>
		<url-pattern>/AddToCartServlets</url-pattern>
	</servlet-mapping>


	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
